<div class="d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), URL(https://source.unsplash.com/evlkOfkQ5rE/1000*500); background-position: center; height: 500px;">
  <div class="p-5 my-auto text-white fs-1 mx-auto text-center">
    <h1><%=@list.name%></h1>
    <p class="fs-4"><%=@list.bookmarks.count%> movies</p>
  </div>
</div>

<div class="mx-auto mt-5" style="width: 80%;">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="fs-2">My List Movies<h2>
    <%= link_to "Add Movie", new_list_bookmark_path(@list), class:"btn border-success m-1", style:"text-decoration: none;"%>
  </div>
  <div class="row">
    <div class="col-10 row">
      <% @list.bookmarks.each do |bookmark|%>
        <div class="col-3 border rouded m-2 d-flex flex-column justify-content-between">
          <div>
            <div class="d-flex align-items-center mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), URL(<%=bookmark.movie.poster_url%>); background-position: center; height: 150px;">
              <h1 class="my-auto text-white fs-4 mx-auto text-center"><%= bookmark.movie.title%></h1>
            </div>
            <div class="mt-2 d-flex flex-column">
              <p><%=bookmark.movie.overview%></p>
            </div>
          </div>
          <div class="d-flex flex-column">
            <p><%=bookmark.movie.rating%>⭐️</p>
            <%= link_to "🗑", bookmark_path(bookmark), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn border-danger mb-2"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
